fieldset
{
    border: 3px double blue;
    background-color:grey;
    color:blue;
}
table
{

    border: 3px dotted fuchsia;
    color: blue;
    background-color: greenyellow;
    border-radius: 15px;
}
td
{
    text-align: center;
    color:red;
    border: 3px double navy;
    background-color: aqua;
    border-radius: 15px;
    margin: auto;
    padding: 3px;
}
th{
    color: blue;
    background-color: blueviolet;
    border-radius: 15px;
    padding: 4px;
}