
{% extends 'dummy.html' %}
{% block title %}
    <title>BADGE</title>
    {% endblock %}

{% block body %}


<div class="alert alert-primary">

<h1 class="alert alert-warning">Example heading <span class="badge text-bg-secondary">New</span></h1>
<h2 class="alert alert-success">Example heading <span class="badge text-bg-secondary">New</span></h2>
<h3 class="alert alert-primary">Example heading <span class="badge text-bg-secondary">New</span></h3>
<h4 class="alert alert-secondary">Example heading <span class="badge text-bg-secondary">New</span></h4>
<h5 class="alert alert-dark">Example heading <span class="badge text-bg-secondary">New</span></h5>
<h6 class="alert alert-danger">Example heading <span class="badge text-bg-secondary">New</span></h6>
<br><br>
</div>
{% endblock %}